@font-face{
  font-family: 'kanit black';
  src: url(./font/Kanit/Kanit-Black.ttf);
}
@font-face{
  font-family: 'kanit light';
  src: url(./font/Kanit/Kanit-Light.ttf);
}

@font-face{
  font-family: 'kanit thin';
  src: url(./font/Kanit/Kanit-Thin.ttf);
}

@font-face{
  font-family: 'kanit medium';
  src: url(./font/Kanit/Kanit-Medium.ttf);
}

@font-face{
  font-family: 'kanit bold';
  src: url(./font/Kanit/Kanit-Bold.ttf);
}
@font-face{
  font-family: 'kanit semibold';
  src: url(./font/Kanit/Kanit-SemiBold.ttf);
}
@font-face{
  font-family: 'kanit regular';
  src: url(./font/Kanit/Kanit-Regular.ttf);
}